::before ::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.standout {
  box-shadow: 3px 3px 5px 6px #ccc;
}
